[report]
exclude_lines =
    pragma: no cover
    pass
    def __repr__
    def __str__

[run]
disable_warnings=include-ignored
include =
    app/*
    portfolio/*

omit =
    # Omit
    __init__.py
    *__*
    virt/*
    venv/*
    portfolio/models/*
    tests/*
    # Model and Schema are just definitions, no execution
    */apps.py
    */urls.py
    */renderers.py
    */*middleware.py
    */*test_runner.py
    */wsgi.py
    */asgi.py
    */config.py
    */exceptions.py
    */components.py
    app/settings.py
    portfolio/portfolio_router.py
